
.myButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f6fafa;
}
.myDiv{
    min-width: 160px;
    max-width: 250px;
    height: 60px;
    padding: 16.5px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fileIcs {
    width: 50%;
    height: auto;
    color: rgb(11, 132, 127);
    cursor: pointer;
  }
  .upPhotos{
    width: 50%;
    height: auto;
  }